/* Footer Styles */
.footer {
  background: #343a40;
  color: #ffffff;
  padding: 3rem 0 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-bottom: 2rem;
}

.footer-section h3,
.footer-section h4 {
  color: #ef4723;
  margin-bottom: 1rem;
}

.footer-section h3 {
  font-size: 1.5rem;
}

.footer-section h4 {
  font-size: 1.2rem;
}

.footer-section p {
  color: #adb5bd;
  line-height: 1.6;
}

.footer-bottom {
  text-align: center;
  padding-top: 2rem;
  border-top: 1px solid #495057;
  color: #adb5bd;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 10px;
}
.social-links .link {
  color: #b9c0c7;
  cursor: pointer;
  font-size: 23px;
  transition: all 0.5 ease;
  &:hover {
    color: #ef4723;
  }
}
/* Footer Mobile Styles */
@media (max-width: 768px) {
  .footer {
    padding: 2rem 0 1rem;
  }

  .footer-content {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .footer-section h3 {
    font-size: 1.3rem;
  }

  .footer-section h4 {
    font-size: 1.1rem;
  }
  .social-links {
    gap: 1.4rem;
  }
}
