<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <h3>Double Zero</h3>
        <p>Everything`s better when it`s Double</p>
      </div>
      <div class="footer-section">
        <h4>Hours</h4>
        <p>Thu-Fri: 10AM-2AM<br />Sat-Wed: 10AM-11PM</p>
      </div>
      <div class="footer-section">
        <h4>Contact</h4>
        <p>Phone: 01036987546<br />Email: doublezero&#64;gmail.cafe</p>
      </div>
    </div>
    <div class="social-links">
      <p style="color: #b9c0c7; font-size: 18px">Follow us :</p>
      <a class="link" href="https://www.facebook.com/" target="_blank"
        ><i class="fa-brands fa-facebook"></i
      ></a>
      <a class="link" href="https://www.instagram.com/" target="_blank"
        ><i class="fa-brands fa-instagram"></i
      ></a>
      <a class="link" href="https://www.facebook.com/" target="_blank"
        ><i class="fa-brands fa-tiktok"></i
      ></a>
      <a class="link"
        ><i
          class="fa-brands fa-linkedin"
          href="https://www.facebook.com/"
          target="_blank"
        ></i
      ></a>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2025 Double Zero. All rights reserved.</p>
    </div>
  </div>
</footer>
